.container-full-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em 1em 1em;
}

.home-page-header {
  top: 0;
  padding-top: 20px;
  padding-left: 50px;
  margin-top: 0px;
  background-color: #800020;
  height: 80px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #800020;
  color: #fff;
}

.search-friends-bar {
  margin-left: -180px;
}


.username-on-image {
  position: absolute;
  top: 90%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: #fff; 
}

.friends-profile-information {
  margin-left: 30px;
}

.top-username {
  color: white; 
  margin-top: -200px; 
  margin-left: 60px;
}
 
.user-profile-information {
  background-color: #fff; 
  border: solid lightgrey;
  border-width: 1px;
  border-radius: 4px;
  height: 430px;
  width: 70%;
  margin-left: 25px;
}

.friends-list {
  background-color: #fff;
  border: solid lightgrey;
  border-width: 1px;
  border-radius: 4px;
  width: 70%;
  margin-top: 50px;
  margin-left: 25px;
}

.upi-personal-info {
  background-color: #fff; 
  border: solid lightgrey;
  border-width: 0.50px;
  border-radius: 4px;
  height: 66.66px;
  padding-top: 22px;
  padding-left: 30px;
}

.upi-workplace {
  background-color: #fff; 
  border: solid lightgrey;
  border-width: 1px;
  border-radius: 4px;
  height: 81.66px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 10px;
}

.upi-status {
  background-color: #fff; 
  border: solid lightgrey;
  border-width: 1px;
  border-radius: 4px;
  height: 66.66px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.upi-text {
  background-color: #fff; 
  border: solid lightgrey;
  border-width: 1px;
  border-radius: 4px;
  height: 81.66px;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.upi-vodka {
  background-color: #fff; 
  border: solid lightgrey;
  border-width: 1px;
  border-radius: 4px;
  height: 66.66px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}


.upi-submit {
  background-color: #fff; 
  border: solid lightgrey;
  border-width: 1px;
  border-radius: 4px;
  height: 66.66px;
  padding-top: 13px;
  text-align: center;
}


.friends-list {
  background-color: #fff; 
  border: solid lightgrey;
  border-width: thin;
  height: 120px;
  width: 72%; 
  float: right; 
  border-radius: 4px;
  margin-top: -120px;
  padding: 10px; 
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.each-friend {
  background-color: white;
  border: solid lightgrey;
  border-width: thin; 
  border-radius: 4px;
  height: 95px;
  width: 35%;
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
}

.each-friend-name {
  height: 40px;
  width: 50%;
  font-size: 23px; 
  padding-top: 35px; 
  padding-left: 5px; 
  color: #800020;
  
}

.friend-image {
  height: 89px;
  width: 58%;
  margin-left: 116px;
  margin-top: -40px; 
  border-radius: 5px;
  border: solid white;
}

.profile-picture {
  margin-top: -100px; 
  margin-left: 30px;
}

.chat-box {
  background-color: #fff; 
  border: solid lightgrey;
  border-width: 2px;
  border-radius: 4px;
  height: 200px;
  width: 100%;
}







